body {
    font-family: Roboto, serif;
}
a {
     text-decoration: none;
}
 .objectFit-fill {
     object-fit: fill !important;
 }
 .block {
     display: block;
 }
.flex {
    display: flex;
}
.spaceBetween {
    justify-content: space-between;
}


