.mainButton {
    background-color: var(--tertiary-fill-background);
    color: var(--tg-theme-button-text-color);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 12px;
    height: 52px;

}